/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Atkinson Hyperlegible', sans-serif;

}

body {
  background-color: #FFE5E5;
  min-width: 100vw;
  min-height: 100vh;
  border: #712D2D solid 10px;
  margin: 0;
  display: flex;
  flex-direction: column;

}

h1 {
  color: #712D2D;
  margin: 2rem;
  padding: 0;
  text-align: center;

}

.container {
  max-width: 200rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.subname {
  color: #712D2D
}

.container__img--logo {
  width: auto;
  height: 50vh;
}

.nav-item,
a {
  color: #712D2D;
  text-decoration: none;
}


.back {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
  max-width: 1200px;
  margin: 0;
  color: #712D2D;
}

.section__text {
  flex: 1;
  color: #712D2D;
  text-align: left;
  font-size: 2rem;
}

.section__image img {
  max-width: 280px;
  min-width: 160px;
  width: 10vw;
  height: auto;
}

.footer--github {
  text-align: left;
  padding: 1rem;
  margin-top: auto;
}
