/* Používáme intuitivní výpočet rozměrů prvků. */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
  background-color:#FFE5E5;
  max-width: 100vw;
  max-height: 100vh;
  border: #712D2D solid 10px;
  margin: 0;
  }

.container {
  max-width: 200rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.subname {
  color:#712D2D
}